force-app/main/default/flows/Case_Summary_Auto_Fill.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case_Summary_Prompt</name>
        <label>Case Summary Prompt</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Assign_Gemini_Response_to_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case_Summary</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>VarStoreResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Gemini_Response_to_Summary</name>
        <label>Assign Gemini Response to Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.AI_Case_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>VarStoreResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Triggering_RTecord</targetReference>
        </connector>
    </assignments>
    <description>V3</description>
    <environments>Default</environments>
    <interviewLabel>Case Summary Auto Fill {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Summary Auto Fill</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Triggering_RTecord</name>
        <label>Update Triggering RTecord</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AI_Case_Summary__c</field>
            <value>
                <elementReference>VarStoreResponse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Summary_Prompt</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>VarStoreResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
